{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='my-style.css')}}">
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        {% include "myscript.js" %}
    </script>
    <!-- The contents of myscript.js will be loaded inside the script tag -->
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Wikidata KG{% else %}Wikidata KG{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Wikidata KG</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

{% endblock %}

{% block content %}
<div class="jumbotron card card-block">
Create knowledge graphs in Wikidata Query by specifying Q numbers, one per line, with wd: prefix.
    Example:
    <ul>
        <li>
        <a href="/submit?items=wd:Q7186%20wd:Q169470%20wd:Q44585%20wd:Q38104">Marie Curie</a>
        </li>
    </ul>
    <div class="input-group input-group mb-3p">
        <form action="{{ url_for('submit') }}" method=get>
            <label>
<textarea name="items" placeholder="Enter objects (Wikidata items, Wikipedia article titles or Pagepile IDs) one per line. Examples:
Q5
wd:Q1028181
en:Baton Rouge
pagepile:27688
"></textarea>
<textarea name="exclusions" placeholder="Enter objects to exclude from the graph"></textarea>
<textarea name="property_exclusions" placeholder="Enter properties to exclude from the graph, i.e. P31"></textarea>
            </label>
            <input type="submit" name="action" value="process">
            <input type="submit" name="action" value="print">
            <input type="reset">
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
    <div class="container">
      <p class="m-0 text-center text-white">Contact: Andrew Lih</p>
    </div>
    <!-- /.container -->
{% endblock %}
