{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='my-style.css')}}">
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        {% include "myscript.js" %}
    </script>
    <!-- The contents of myscript.js will be loaded inside the script tag -->
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Wikidata KG{% else %}Wikidata KG{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Wikidata Knowledge Grapher</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6">
        <H1>Wikidata Knowledge Grapher</H1>
        <p class="lead">Create knowledge graphs in Wikidata Query by specifying Q numbers, one per line, with wd: prefix.</p>
    Example:
    <ul>
        <li>
        <a href="/submit?items=wd:Q7186%20wd:Q169470%20wd:Q44585%20wd:Q38104">Marie Curie</a>
        </li>
    </ul>
    </div>
  </div>
<form action="{{ url_for('submit') }}" method=get>
    <div class="input-group mb-3p">
        <label for="items">Objects (Wikidata items, Wikipedia article titles or Pagepile IDs) one per line</label>
        <br>
        <textarea name="items" placeholder="Examples:
Q5
wd:Q1028181
en:Baton Rouge
pagepile:27688
"></textarea>
    </div>
    <div class="input-group mb-3p">
        <label for="exclusions">Objects to exclude from the graph</label>
        <br>
        <textarea name="exclusions" placeholder="Examples:
Q5
wd:Q1028181
en:Baton Rouge
pagepile:27688
"></textarea>
    </div>
    <div class="input-group mb-3p">
        <label for="property_exclusions">Properties to exclude from the graph</label>
        <br>
        <textarea name="property_exclusions" placeholder="Example:
P31"></textarea>
    </div>
    <div class="input-group mb-3p">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn-lg btn-primary" type="submit" name="action" value="process">Graph</button>
            <button class="btn-lg btn-default" type="submit" name="action" value="print">Print URL</button>
            <button class="btn-lg btn-default" type="reset">Reset</button>
        </div>
    </div>
</form>
</div>

{% endblock %}

{% block footer %}
    <div class="container">
      <p class="m-0 text-center text-white">Contact: Andrew Lih</p>
    </div>
    <!-- /.container -->
{% endblock %}
